<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HackerTales</title>
    <link rel="stylesheet" href="../static/assets1/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets1/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets1/css/Footer-Basic-icons.css">
    <link rel="stylesheet" href="../static/assets1/css/styles.css">
    <link rel="stylesheet" href="../static/assets1/css/untitled.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .navbar {
            background-color: #343a40;
        }
        .navbar .nav-link {
            color: #ffffff;
        }
        .navbar .nav-link:hover {
            color: #adb5bd;
        }
        .message {
            transition: background-color 0.3s;
        }
        .message:hover {
            background-color: #e9ecef;
        }
        footer {
            background-color: #343a40;
            color: #ffffff;
        }
        footer a {
            color: #ffffff;
        }
        footer a:hover {
            color: #adb5bd;
        }
    </style>
</head>

<body style="height: 850px; margin-top: 1rem;">
    <a href="/" data-bs-target="/">
        <h1 style="text-align: center;">HackerTales.ru</h1>
    </a>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/">Inbox</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main style="margin: 5rem 1rem 1rem 1rem;">
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center">
            <div class="d-flex justify-content-center align-items-center">
                <a href="/change_email"><img src="../static/images/swap.png" title="Change email" style="width: 2rem; transition: transform .7s ease-in-out;"></a>
                <h1 class="email" style="margin: 1rem; text-align: center;">{{ email_address }}</h1>
                <a href="/"><img src="../static/images/refresh.webp" title="Refresh inbox" style="width: 2rem; transition: transform .7s ease-in-out;"></a>
            </div>
        </div>
        <div class="container d-flex align-items-start justify-content-start" style="border: 2px solid; min-height: 500px; padding: 1rem; width: 100%; border-radius: 5px;">
            <h1 class="text-center text-black text-opacity-25 d-none" style="text-align: center;">No messages :(</h1>
            <div style="width: 100%;">
                {% for message in messages %}
                    <a class="d-xl-flex justify-content-between align-items-center" href="/message/{{ message['id'] }}" style="width: 100%; margin-bottom: 1rem;">
                        <div class="d-flex justify-content-between align-items-center message" style="width: 100%; padding: 0.5rem; color: var(--bs-emphasis-color); border-radius: 5px; border: 0.5px solid var(--bs-emphasis-color);">
                            <div class="d-xl-flex" style="width: 100%; overflow: hidden;">
                                <div class="d-flex flex-column justify-content-center align-items-start name">
                                    <div><span style="font-size: 30px; white-space: nowrap;">{{ message['from']['name'] }}</span></div>
                                    <div><span style="white-space: nowrap;">From: {{ message['from']['address'] }}</span></div>
                                </div>
                                <div class="d-xl-flex align-items-center" style="margin-left: 40px; overflow: hidden; margin-right: 1rem;">
                                    <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: var(--bs-secondary-color); color: gray;">
                                        <b style="color: Black;">{{ message['subject'] }}</b> {{ message['intro'] }}
                                    </span>
                                </div>
                            </div>
                            <div class="d-xl-flex justify-content-center align-items-center" style="white-space: nowrap;">
                                <span>{{ message['createdAt'][11:16] }} UTC</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer class="text-center" style="margin-top: 5rem;">
        <div class="container text-muted py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-secondary" href="#">Web design</a></li>
                <li class="list-inline-item me-4"><a class="link-secondary" href="#">Development</a></li>
                <li class="list-inline-item"><a class="link-secondary" href="#">Hosting</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                    </svg>
                </li>
                <li class="list-inline-item me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-twitter">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15"></path>
                    </svg>
                </li>
                <li class="list-inline-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-instagram">
                        <path d="M8 0C3.588 0 0 3.588 0 8c0 4.412 3.588 8 8 8 4.412 0 8-3.588 8-8 0-4.412-3.588-8-8-8zm0 15c-3.873 0-7-3.127-7-7 0-3.873 3.127-7 7-7 3.873 0 7 3.127 7 7 0 3.873-3.127 7-7 7zm3.25-8.5a3.25 3.25 0 1 0-6.5 0 3.25 3.25 0 0 0 6.5 0zM7.75 8a1.25 1.25 0 1 1 2.5 0 1.25 1.25 0 0 1-2.5 0zm3.625-3.375a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5z"></path>
                    </svg>
                </li>
            </ul>
            <p class="mb-0">Copyright © 2024 Brand</p>
        </div>
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>