.message:hover {
  background: var(--bs-secondary-bg);
}

.email:hover {
  color: var(--bs-info-text-emphasis);
  transition: transform .7s ease-in-out;
  text-decoration: underline;
}

img:hover {
  transform: rotate(122deg);
}